html {
  height: 100%;
}

body {
  position: relative;
  background-color: #e0e0e0;
  background-image: url(../images/album.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}

.player {
  position: absolute;
  width: 300px;
  margin-left: -140px;
}

.songs {
  list-style: none;
  padding: 0;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-size: 18px;
  color: rgba(44, 44, 44, 0.5);
  text-align: center;
  margin-bottom: 50px
}

.songs li {
  position: relative;
  padding: 5px;
}

.songs .playing {
  display: block;
  color: rgba(44, 44, 44, 1.0);
}

.songs .playing:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 40px;
  height: 40px;
  background: url(../images/indicator.gif);
}

.songs .playing + li {
  display: block;
}

.controls {
  margin: 0 auto;
  width: 296px;
}

.controls div {
  display: inline-block;
}

.play, .pause {
  margin-bottom: -5px;
  height: 54px;
  width: 150px;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.play:hover, .pause:hover {
  opacity: 1.0;
  transition: opacity 0.2s;
}

.play {
  background: url(../images/play.png) 55% no-repeat;
}

.pause {
  background: url(../images/pause.png) center no-repeat;
}

.prev, .next {
  height: 44px;
  width: 69px;
  opacity: 0.8;
  transition: opacity 0.2s;
}

.prev:hover, .next:hover {
  opacity: 1.0;
  transition: opacity 0.2s;
}

.prev {
  background-image: url(../images/prev.png);
}

.next {
  background-image: url(../images/next.png);
}