html {
  background: #212121 url(../images/nobroadcast_bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -moz-border-image: url(bg-image.png) 0;  /* (Firefox 3.5) */
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nobroadcast_bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/nobroadcast_bg.jpg', sizingMethod='scale')";
  height: 100%;
}

body {
  display: -webkit-flex;
  display: flex;
  height: 100%;
}

#player-container {
  margin: auto;
}